<%- include ('../../partials/header') %>
    <%- include ('../../partials/navbar') %>


  <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a class="btn btn-success" href="/admin/articles">Criar novo artigo</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Artigo</th>
                    <th>Slug</th>
                    <th>Category</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
          
                
            </tbody>
        </table>
    </div>
    <%- include ('../../partials/footer.ejs') %>

    <script>
        function confirmDel(event,form){
            event.preventDefault();

            const decision = confirm("Você quer deletar esse artigo?");

            if(decision){
                form.submit();
                alert("Você deletou um artigo");
            }
        }


    </script>